.imgLogo {
  padding-left: 50px;
}

.mNav {
  /*     position: sticky;
    top: 0;*/
}

.mNav ul li {
  text-transform: uppercase;
  font-weight: 200;
}

.imgMarca {
  background-image: url(../images/laptop.jpg);
  height: 200px;
  width: 90%;
  margin: 25px auto 50px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin: 30px 0 30px 0;
  padding: 0 20px 0 20px;
}

main .flexDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flexDerecha p {
  position: static;
  text-align: justify;
}

main .flexDerecha p:nth-child(2) {
  width: 440px;
  margin-right: 30px;
}

main .flexIzquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flexIzquierda p {
  position: static;
  margin-left: 30px;
}

main .flexIzquierda p:nth-child(2) {
  position: static;
  text-align: justify;
}

.widget1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 30px 0;
  padding: 0 20px 0 20px;
}

.widget1 .testimonios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.widget2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 30px 0;
  padding: 0 20px 0 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background-color: #1b2c4b;
  color: #fff;
  font-weight: 500;
  font-size: large;
}

footer p {
  margin-bottom: 40px;
}

footer .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #f3f3f3;
}

.nombreEmpresa {
  text-align: center;
  background-color: #2b2b2b;
  padding: 20px 0 10px 0;
  color: #a6aaaa;
  font-weight: 400;
  font-size: small;
}

/* Ejemplo de maps */
.icon__red-tw {
  color: #1dcaff;
}

.icon__red-fb {
  color: #0044aa;
}

.icon__red-ig {
  color: #b423b4;
}

.icon__red-ln {
  color: darkblue;
}

.icon__red-tt {
  color: black;
}

.icon__red-snap {
  color: yellow;
}

/* Ejemplo de Mixins */
/* @mixin btn {
    display: inline-block;
    padding: 10px;
    border: 2px solid;
}
.btnDanger {
    @include btn;
    background-color: red;
}
 */
.galeriaServicios {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tarjeta1 tarjeta2 tarjeta3" "tarjeta4 tarjeta5 tarjeta6" "tarjeta7 tarjeta8 tarjeta9" "tarjeta10 tarjeta11 tarjeta12";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

.galeriaServicios .tarjeta1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tarjeta1;
}

.galeriaServicios .tarjeta2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tarjeta2;
}

.galeriaServicios .tarjeta3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tarjeta3;
}

.galeriaServicios .tarjeta4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tarjeta4;
}

.galeriaServicios .tarjeta5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tarjeta5;
}

.galeriaServicios .tarjeta6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: tarjeta6;
}

.galeriaServicios .tarjeta7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tarjeta7;
}

.galeriaServicios .tarjeta8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tarjeta8;
}

.galeriaServicios .tarjeta9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tarjeta9;
}

.galeriaServicios .tarjeta10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: tarjeta10;
}

.galeriaServicios .tarjeta11 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: tarjeta11;
}

.galeriaServicios .tarjeta12 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: tarjeta12;
}

@media (max-width: 770px) {
  .galeriaServicios {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "tarjeta1 tarjeta2" "tarjeta3 tarjeta4" "tarjeta5 tarjeta6" "tarjeta7 tarjeta8" "tarjeta9 tarjeta10" "tarjeta11 tarjeta12";
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
  .galeriaServicios .tarjeta1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tarjeta1;
  }
  .galeriaServicios .tarjeta2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: tarjeta2;
  }
  .galeriaServicios .tarjeta3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tarjeta3;
  }
  .galeriaServicios .tarjeta4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tarjeta4;
  }
  .galeriaServicios .tarjeta5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tarjeta5;
  }
  .galeriaServicios .tarjeta6 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: tarjeta6;
  }
  .galeriaServicios .tarjeta7 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: tarjeta7;
  }
  .galeriaServicios .tarjeta8 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: tarjeta8;
  }
  .galeriaServicios .tarjeta9 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: tarjeta9;
  }
  .galeriaServicios .tarjeta10 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: tarjeta10;
  }
  .galeriaServicios .tarjeta11 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: tarjeta11;
  }
  .galeriaServicios .tarjeta12 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: tarjeta12;
  }
}

.galeriaProductos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 10px;
}

.galeriaProductos .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.galeriaProductos .item1 img {
  width: 250px;
}

.galeriaProductos .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.galeriaProductos .item2 img {
  width: 250px;
}

.galeriaProductos .item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.galeriaProductos .item3 img {
  width: 250px;
}

.galeriaProductos .item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
}

.galeriaProductos .item4 img {
  width: 200px;
}

.galeriaProductos .item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item5;
}

.galeriaProductos .item5 img {
  width: 250px;
}

.galeriaProductos .item6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item6;
}

.galeriaProductos .item6 img {
  width: 250px;
}

.galeriaProductos .item7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item7;
}

.galeriaProductos .item7 img {
  width: 250px;
}

.galeriaProductos .item8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: item8;
}

.galeriaProductos .item8 img {
  width: 250px;
}

.galeriaProductos .item9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item9;
}

.galeriaProductos .item9 img {
  width: 250px;
}

@media (max-width: 770px) {
  .galeriaProductos {
        grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item9";
    -ms-grid-rows: (250px)[5];
        grid-template-rows: repeat(5, 250px);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    gap: 10px;
  }
  .galeriaProductos .item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: item1;
  }
  .galeriaProductos .item1 img {
    width: 200px;
  }
  .galeriaProductos .item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: item2;
  }
  .galeriaProductos .item2 img {
    width: 200px;
  }
  .galeriaProductos .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item3;
  }
  .galeriaProductos .item3 img {
    width: 200px;
  }
  .galeriaProductos .item4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item4;
  }
  .galeriaProductos .item4 img {
    width: 150px;
  }
  .galeriaProductos .item5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: item5;
  }
  .galeriaProductos .item5 img {
    width: 200px;
  }
  .galeriaProductos .item6 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: item6;
  }
  .galeriaProductos .item6 img {
    width: 200px;
  }
  .galeriaProductos .item7 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: item7;
  }
  .galeriaProductos .item7 img {
    width: 200px;
  }
  .galeriaProductos .item8 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: item8;
  }
  .galeriaProductos .item8 img {
    width: 200px;
  }
  .galeriaProductos .item9 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item9;
  }
  .galeriaProductos .item9 img {
    width: 200px;
  }
}

.contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedorContacto p {
  text-align: center;
}

.contenedorContacto .formulario input {
  width: 300px;
}

.contenedorContacto .formulario form .formItem1 {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorContacto .formulario form .formItem2 {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorContacto .formulario form .formItem3 {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorContacto .formulario form .formItem4 {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorContacto .formulario form .formItem5 {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 770px) {
  /* Revisar para mobile */
  .contenedorContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedorContacto iframe {
    width: 100%;
    /* Revisar para mobile */
  }
  .contenedorContacto p {
    text-align: center;
  }
  .contenedorContacto p:nth-child(1) {
    font-size: larger;
  }
  .contenedorContacto .formulario input {
    width: 300px;
  }
  .contenedorContacto .formulario form .formItem1 {
    margin: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedorContacto .formulario form .formItem2 {
    margin: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedorContacto .formulario form .formItem3 {
    margin: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedorContacto .formulario form .formItem4 {
    margin: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedorContacto .formulario form .formItem5 {
    margin: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */