/* $textoFooter: #fff;
$paddingContenido: 0 20px 0 20px;
$marginContenido: 30px 0 30px 0;
 */
.imgLogo {
    padding-left: 50px;
}
.mNav {
    ul li {
        text-transform: uppercase;
        font-weight: 200;
    }
}
.imgMarca {
    background-image: url(../images/laptop.jpg);
    height: 200px;
    width: 90%;
    margin: 25px auto 50px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    margin: $marginContenido;
    padding: $paddingContenido;
    .flexDerecha {
        display: flex;
        align-items: center;
        gap: 100px;
        p {
            position: static;
            text-align: justify;
        }
        p:nth-child(2){
            width: 440px;
            margin-right: 30px;
        }
    }
    .flexIzquierda {
        display: flex;
        align-items: center;
        gap: 100px;
        p {
            position: static;
            margin-left: 30px;
        }
        p:nth-child(2) {
            position: static;
            text-align: justify;
        }
    }
}
.widget1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginContenido;
    padding: $paddingContenido;
    .testimonios {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
.widget2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginContenido;
    padding: $paddingContenido;
}
footer {
    display: flex;
    padding: 70px 0 50px 0;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: map-get($map: $colores, $key: bgFooter);
    color: map-get($map: $colores, $key: textoFooter);
    font-weight: 500;
    font-size: large;
    p {
        margin-bottom: 40px;
    }
    .redesSociales {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    a {
        text-decoration: none;
        color: map-get($map: $colores, $key: textoFooter);
    }
    a:hover {
        color: rgba(0, 0, 0, 0.8);
        background-color: map-get($map: $colores, $key: bgHover);
    }
}
.nombreEmpresa {
    text-align: center;
    background-color: map-get($map: $colores, $key: bgNombreEmpresa);
    padding: 20px 0 10px 0;
    color: map-get($map:$colores, $key: nombreEmpresa);
    font-weight: 400;
    font-size: small;
}

/* Maps */

$red-social: (
    tw: rgb(29, 202, 255),
    fb: rgb(0, 68, 170),
    ig: #b423b4,
    ln: darkblue,
    tt: black,
    snap: yellow
    );
@each $nombre, $valor in $red-social {
    .icon__red-#{$nombre} {
        color: $valor;
    }
}
$colores: (
    nombreEmpresa: #a6aaaa,
    bgNombreEmpresa: #2b2b2b,
    bgHover: #f3f3f3,
    textoFooter: #fff,
    bgFooter: #1b2c4b
);