$paddingContenido: 0 20px 0 20px;
$marginContenido: 30px 0 30px 0;
$marginContacto: 20px 0 20px 0;

$colores: (
    nombreEmpresa: #a6aaaa,
    bgNombreEmpresa: #2b2b2b,
    bgHover: #f3f3f3,
    textoFooter: #fff,
    bgFooter: #1b2c4b
    );

@mixin flexLaterales {
    display: flex;
    align-content: center;
    gap: 100px;
    align-items: center;
}
    
.imgLogo {
    padding-left: 50px;
}
.mNav {
/*     position: sticky;
    top: 0;*/    
    ul li {
        text-transform: uppercase;
        font-weight: 200;
    }
}
.imgMarca {
    background-image: url(../images/laptop.jpg);
    height: 200px;
    width: 90%;
    margin: 25px auto 50px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    margin: $marginContenido;
    padding: $paddingContenido;
    .flexDerecha {
        @include flexLaterales;
        p {
            position: static;
            text-align: justify;
        }
        p:nth-child(2){
            width: 440px;
            margin-right: 30px;
        }
    }
    .flexIzquierda {
        @include flexLaterales;
        p {
            position: static;
            margin-left: 30px;
        }
        p:nth-child(2) {
            position: static;
            text-align: justify;
        }
    }
}
.widget1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginContenido;
    padding: $paddingContenido;
    .testimonios {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
.widget2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginContenido;
    padding: $paddingContenido;
}
footer {
    display: flex;
    padding: 70px 0 50px 0;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: map-get($map: $colores, $key: bgFooter);
    color: map-get($map:$colores, $key: textoFooter);
    font-weight: 500;
    font-size: large;
    p {
        margin-bottom: 40px;
    }
    .redesSociales {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    a {
        text-decoration: none;
        color: map-get($map:$colores, $key: textoFooter);
    }
    a:hover {
        color: rgba(0, 0, 0, 0.8);
        background-color: map-get($map:$colores, $key: bgHover);
    }
}
.nombreEmpresa {
    text-align: center;
    background-color: map-get($map:$colores, $key: bgNombreEmpresa);
    padding: 20px 0 10px 0;
    color: map-get($map:$colores, $key: nombreEmpresa);
    font-weight: 400;
    font-size: small;
}

/* Ejemplo de maps */

$red-social: (
    tw: rgb(29, 202, 255),
    fb: rgb(0, 68, 170),
    ig: #b423b4,
    ln: darkblue,
    tt: black,
    snap: yellow
    );
@each $nombre, $valor in $red-social {
    .icon__red-#{$nombre} {
        color: $valor;
    }
}
/* Ejemplo de Mixins */

/* @mixin btn {
    display: inline-block;
    padding: 10px;
    border: 2px solid;
}
.btnDanger {
    @include btn;
    background-color: red;
}
 */
.galeriaServicios {
    display: grid;
    grid-template-areas: "tarjeta1 tarjeta2 tarjeta3"
                            "tarjeta4 tarjeta5 tarjeta6"
                            "tarjeta7 tarjeta8 tarjeta9"
                            "tarjeta10 tarjeta11 tarjeta12";
    justify-content: space-around;
    gap: 20px;
        .tarjeta1 {
            grid-area: tarjeta1;
        }
        .tarjeta2 {
            grid-area: tarjeta2;
        }
        .tarjeta3 {
            grid-area: tarjeta3;
        }
        .tarjeta4 {
            grid-area: tarjeta4;
        }
        .tarjeta5 {
            grid-area: tarjeta5;
        }
        .tarjeta6 {
            grid-area: tarjeta6;
        }
        .tarjeta7 {
            grid-area: tarjeta7;
        }
        .tarjeta8 {
            grid-area: tarjeta8;
        }
        .tarjeta9 {
            grid-area: tarjeta9;
        }
        .tarjeta10 {
            grid-area: tarjeta10;
        }
        .tarjeta11 {
            grid-area: tarjeta11;
        }
        .tarjeta12 {
            grid-area: tarjeta12;
        }
}
@media (max-width: 770px ) {
    .galeriaServicios {
        display: grid;
        grid-template-areas:    "tarjeta1 tarjeta2"
                                "tarjeta3 tarjeta4"
                                "tarjeta5 tarjeta6"
                                "tarjeta7 tarjeta8"
                                "tarjeta9 tarjeta10"
                                "tarjeta11 tarjeta12";
        justify-content: space-around;
        gap: 20px;
            .tarjeta1 {
                grid-area: tarjeta1;
            }
            .tarjeta2 {
                grid-area: tarjeta2;
            }
            .tarjeta3 {
                grid-area: tarjeta3;
            }
            .tarjeta4 {
                grid-area: tarjeta4;
            }
            .tarjeta5 {
                grid-area: tarjeta5;
            }
            .tarjeta6 {
                grid-area: tarjeta6;
            }
            .tarjeta7 {
                grid-area: tarjeta7;
            }
            .tarjeta8 {
                grid-area: tarjeta8;
            }
            .tarjeta9 {
                grid-area: tarjeta9;
            }
            .tarjeta10 {
                grid-area: tarjeta10;
            }
            .tarjeta11 {
                grid-area: tarjeta11;
            }
            .tarjeta12 {
                grid-area: tarjeta12;
            }
    }    
}
.tituloMarcas {
    text-align: center;
}
.galeriaProductos {
    display: grid;
    grid-template-areas:    "item1 item2 item3"
                            "item4 item5 item6"
                            "item7 item8 item9";
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
        .item1 {
            grid-area: item1;
            img {
                width: 250px;
            }
        }
        .item2 {
            grid-area: item2;
            img {
                width: 250px;
            }
        }
        .item3 {
            grid-area: item3;
            img {
                width: 250px;
            }
        }
        .item4 {
            grid-area: item4;
            img {
                width: 200px;
            }
        }
        .item5 {
            grid-area: item5;
            img {
                width: 250px;
            }
        }
        .item6 {
            grid-area: item6;
            img {
                width: 250px;
            }
        }
        .item7 {
            grid-area: item7;
            img {
                width: 250px;
            }
        }
        .item8 {
            grid-area: item8;
            img {
                width: 250px;
            }
        }
        .item9 {
            grid-area: item9;
            img {
                width: 250px;
            }
        }
}
@media (max-width: 770px) {
    .galeriaProductos {
        grid-template-areas: "item1 item2"
                                "item3 item4"
                                "item5 item6"
                                "item7 item8"
                                "item9 item9";
        grid-template-rows: repeat(5, 250px);
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 10px;
        .item1 {
            grid-area: item1;
            img {
                width: 200px;
            }
        }
        .item2 {
            grid-area: item2;
            img {
                width: 200px;
            }
        }
        .item3 {
            grid-area: item3;
            img {
                width: 200px;
            }
        }
        .item4 {
            grid-area: item4;
            img {
                width: 150px;
            }
        }
        .item5 {
            grid-area: item5;
            img {
                width: 200px;
            }
        }
        .item6 {
            grid-area: item6;
            img {
                width: 200px;
            }
        }
        .item7 {
            grid-area: item7;
            img {
                width: 200px;
            }
        }
        .item8 {
            grid-area: item8;
            img {
                width: 200px;
            }
        }
        .item9 {
            grid-area: item9;
            img {
                width: 200px;
            }
        }
    }
}
@mixin formulario {
    margin: $marginContacto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorContacto {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    p {
        text-align: center;
    }
    .formulario {
        input {
            width: 300px;
        }
        form {
            .formItem1 {
                @include formulario;
            }
            .formItem2 {
                @include formulario;
            }
            .formItem3 {
                @include formulario;
            }
            .formItem4 {
                @include formulario;
            }
            .formItem5 {
                @include formulario;
            }
        }
    }
}
@media (max-width:770px) {  /* Revisar para mobile */
    .contenedorContacto {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
        iframe {
            width: 100%;    /* Revisar para mobile */
        }
        p {
            text-align: center;
        }
        p:nth-child(1) {
            font-size: larger;
        }
        .formulario {
            input {
                width: 300px;
            }
            form {
                .formItem1 {
                    @include formulario;
                }
                .formItem2 {
                    @include formulario;
                }
                .formItem3 {
                    @include formulario;
                }
                .formItem4 {
                    @include formulario;
                }
                .formItem5 {
                    @include formulario;
                }
            }
        }
    }    
}