.imgLogo {
    padding-left: 50px;
}
.mNav {
    ul li {
        text-transform: uppercase;
        font-weight: 200;
    }
}
.imgMarca {
    background-image: url(../images/laptop.jpg);
    height: 200px;
    width: 90%;
    margin: 25px auto 50px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    margin: 20px 0px 20px 0px;
    padding: 0 20px 0 20px;
    .flexDerecha {
        display: flex;
        align-items: center;
        gap: 100px;
        p {
            position: static;
            text-align: justify;
        }
        p:nth-child(2){
            width: 440px;
            margin-right: 30px;
        }
    }
    .flexIzquierda {
        display: flex;
        align-items: center;
        gap: 100px;
        p {
            position: static;
            margin-left: 30px;
        }
        p:nth-child(2) {
            position: static;
            text-align: justify;
        }
    }
}
.widget1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 30px 0;
    padding: 0 20px 0 20px;
    .testimonios {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
.widget2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 30px 0;
    padding: 0 20px 0 20px;
}
footer {
    display: flex;
    padding: 70px 0 50px 0;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #1b2c4b;
    color: #fff;
    font-weight: 500;
    font-size: large;
    p {
        margin-bottom: 40px;
    }
    .redesSociales {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        color: rgba(0, 0, 0, 0.8);
        background-color: #F3F3F3;
    }
}
.nombreEmpresa {
    text-align: center;
    background-color: #2b2b2b;
    padding: 20px 0 10px 0;
    color: #a6aaaa;
    font-weight: 400;
    font-size: small;
}
